body {
    margin: 0;
    background-color: #ccc;
  }
img{
    display: block;
    max-width: 100%;
    height: auto;
}
#header{
  width: 100%;
  margin-bottom: 30px;
}
.nav-pills>li {
  float: left;
}
.clearfix{
  content: "";
  display: table;
  clear: both;
}
.col-6{
  width:50%;
  float:left;
}
.col-4{
  width:33.3333%;
  float:left;
}
